.top-content{
    display: flex;
    height: 15rem;
    width: 100%;
}
.crypto-main{
    height: 5rem;
    width: 100%;
    background-color: rgb(207, 31, 57);
    font-size: 3rem;
  
}
.coin-img{
    height: 10px;
    width: 10px;
}
